/* main styles and colors */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap");

*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}
/* 
colors
#EFEFEF LT GRAY
#45D3E5 LT BLUE
#35A8B6 DK BLUE


*/
body{
    background: #EFEFEF ;
}