*{
    margin: 0;
    padding: 0;
    font-family:Helvetica, sans-serif;
}
/* 
colors
#EFEFEF LT GRAY
#45D3E5 LT BLUE
#35A8B6 DK BLUE


*/
body{
    background: #EFEFEF ;
}
.header{
    position: fixed;
    top: 0;
    z-index: 100;
    background: #45D3E5 ;
    width: 100%;
    height: 105px;
    border-radius: 0 0 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    box-shadow: 0 7px 13px #0000002f;
}
.logoDiv{
    height: 40%;
    padding: 10px;
    margin: auto;
    background-color: #45D3E5;
    border-radius: 100px;
    box-shadow: 7px 7px 13px #0000002f, -7px -7px 13px #ffffff48;
/* box-shadow: -7px -7px 10px #ffffff48; */
}
#headLogo{
    height: 100%;
}
#title{
    margin: auto;
    color: #35A8B6;
}

/* footer styles below */
.footer{
    width: 100%;
    height: 84px;
    background: #45D3E5;
    border-radius: 15px 15px 0px 0px;
    position: fixed;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: space-evenly;
}
.icon-div{
    height: 40%;
    background-color: #45D3E5;
    margin: auto;
    padding: 13px;
    border-radius: 100px;
    box-shadow: 7px 7px 13px #0000002f, -7px -7px 10px #ffffffcb ;
}
.icon-div > img{
 height: 100%;
}

/* sign up and log in page */
.container{
    width: 100%;
    height: 100vh;
    padding: 0;
    
}
.logoContainer{
    padding: 25px;
    height: 80px;
    width: 80px;
    display: flex;
    position: sticky;
    top: 30px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
    border-radius: 200px;
    background-color: #EFEFEF;
    box-shadow: 7px 7px 13px #0000002f, -7px -7px 13px #ffffff48 ;
}
.logoContainer > img{
    height: 80%;
    margin: auto;
    
}
.leadTitle{
    font-weight: lighter;
    margin: 0 auto 15px auto;
}
.desc{
    margin: 0 auto 15px auto;
}
.sign-in{
    display: flex;
    width: 60%;
    flex-direction: column;
    padding: 0 35px;
    text-align: justify;
    margin:auto;
}
.label{
    padding: 20px 0 5px 0;
}
input{
    height: 35px;
    width: auto;
    border: none;
    border-radius: 7px;
    padding-left: 10px;
}
input::placeholder{
    color: #0000002c;
}
.main-btn{
    width: 100%;
    margin: 10px auto;
    background: #45D3E5;
    border: none;
    padding: 10px;
    border-radius: 7px;
    color: white;
    font-weight: bold;
}

.form-container{
    margin-top: 55px;
    text-align: center;
    display: flex;
    flex-direction: column;
}




.sign-up-container{
    display: none;
    
    flex-direction: column;
    background: white;
}
