.dl-footer {
  width: 100%;
  /* padding:10px 0; */
  background: black;
  height: 55px;
  position: fixed;
  z-index: 50;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dl-f-icon {
  height: 30px;
  transition: height 50ms ease-in-out;
  margin: auto;
}
.dl-f-active {
  height: 35px;
  transition: height 50ms ease-in-out;
  margin-bottom: 10px;
}

.dlfl-l-active,
.dlfl-m-active,
.dlfl-r-active {
  border: 15px solid black;
  border-radius: 50% 50% 0 0;
  background: black;
  padding: 7px;
  margin-bottom: 10px;
}
.dl-f-l {
  display: flex;
  position: absolute;
}
.dlf-l {
  left: 40px;
}
.dlfl-l-active {
  left: 13px;
}
.dlf-m {
  align-self: center;
}
.dlf-r {
  right: 40px;
}
.dlfl-r-active {
  right: 13px;
}
