.cp-modal-overlay{
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #898989;
    top:0;
}
.cp-f-cont{
    margin:auto;
    width: 100%;
    max-width: 350px;
}
.cp-f-cont>form{
    display: flex;
    flex-direction: column;
}
.cp-modal-close{
    height: 25px;
    position: absolute;
    right: 30px;
    top: 30px;
}